[Desktop Entry]
Name=Zero Newsprint
Comment=A card with a three pixel border and a hard shadow.
X-KDE-PluginInfo-Author=Zero OS
X-KDE-PluginInfo-Name=ZeroNewsprint
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-License=GPL-2.0+
